.filter_bar {
  padding: 15px 20px;
  box-shadow: 0px 2px 10px 0px rgba(46, 61, 72, 0.05);
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
