.section {
  margin-bottom: 45px;
  &:last-child {
    margin-bottom: 0;
  }
}
.mainTitle {
  margin-bottom: 30px;
}
.mainTitle,
.subTitle {
  font-size: 22px;
  text-align: center;
  color: #303030;
  line-height: 30px;
}

.subTitle {
  position: relative;
  margin-bottom: 30px;
}

.titleBar {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  a {
    color: #fff;
    background-color: #113b9b;
    border-color: #113b9b;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cardsWrapper {
  margin-bottom: 50px;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
}

.itemWrapper {
  margin-left: -28px;
  margin-right: -28px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 1199.99px) {
  .itemWrapper {
    //margin-left: -10px;
    //margin-right: -10px;
  }
}

@media (max-width: 767.99px) {
  .titleBar a {
    line-height: 1.2;
    font-size: 13px;
    padding: 6px 12px;
  }
}
