.filter {
  display: flex;
}

.filter-name {
  font-size: 16px;
  min-width: 50px;
  color: #2152ab;
  font-weight: bold;
}

.filter-tag {
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #f3f3f3;

  a {
    text-decoration: none;
    color: #2b2c2d;
    font-size: 13px;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }
    &.active {
      color: white;
      background-color: #2152ab;
      padding: 4px 6px;
      border-radius: 8px;
    }
  }
}
.filter:last-child .filter-tag {
  border-bottom: none;
  margin-bottom: 0;
}
