main.content {
  margin-top: 30px;
}
main .container > .card {
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #eaecf0;
}
.home-card .card-body {
  padding-left: 0;
  padding-right: 0;
}
.card-title {
  font-size: 24px;
  color: #053091;
  font-weight: normal;
}

.card-body .btn-more {
  float: right;
  border-radius: 16px !important;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #053091;
  border-color: #053091;
}
.card-text {
  font-size: 14px;
  color: #2b2c2d;
  margin-bottom: 0;
  white-space: break-spaces;
  p {
    margin-bottom: 8px;
  }
}
.home-card {
  position: relative;
  > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  .item-highlights {
    margin-right: -12px;
  }
}
@media (min-width: 768px) {
  .card-text {
    font-size: 16px;
  }
}
