main.content {
  margin-top: 30px;
}
main .container > .card {
  margin-bottom: 15px;
}

.card-title {
  font-family: serif;
}

.btn-more {
  //position: absolute;
  //bottom: 16px;
  //right: 16px;
  float: right;
}
.card-text {
  font-size: 14px;
}
.home-card {
  position: relative;
  > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .btn-more {
    margin-top: 14px;
  }
}
