main.home-content > .container {
  background-color: #f5f5f5;
  min-height: 500px;
  padding-top: 56px;
  padding-bottom: 50px;
}
.card-text {
  font-size: 14px;
  color: #2b2c2d;
  margin-bottom: 0;
  white-space: break-spaces;
  p {
    margin-bottom: 8px;
    letter-spacing: 1px;
  }
}
.section {
  position: relative;
  > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .card-text {
  }
  .more-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    .icon {
      margin-right: 20px;
    }
  }
}
