.page-detail {
  font-size: 14px;
  letter-spacing: 1px;
  .card-header {
    font-size: 20px;
    font-weight: 400;
    border-bottom: none;
  }
  .card {
    border-bottom-color: #eaecf0 !important;
    border-bottom-width: 2px !important;
  }
}

.stars {
  color: #ffe623;
  margin-right: 12px;
}
.evaluate-desc {
  color: #6b6d6f;
  font-size: 14px;
}
.evaluates {
  line-height: 1.8;
  padding-left: 0;
  list-style: none;
  color: #1c1c1d;
  .evaluate {
    border-bottom: 1px solid #eaecf0;
    padding-bottom: 16px;
    margin-bottom: 16px;
    &:last-child {
      border-bottom: none !important;
    }
  }
}
.detail-top {
  display: flex;
  align-items: flex-start;
}
.detail-cover {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 108px;
  border-radius: 4px;
  overflow: hidden;
  img {
    height: 100%;
  }
}
.detail-desc {
  flex: 1;
  padding-left: 25px;
  position: relative;
}
.detail-name {
  margin-bottom: 16px;
  position: relative;
  h3 {
    color: #053091;
  }
}
.detail-price {
  color: #fa8919;
}
.detail-brief {
  margin-bottom: 8px;
  color: #2b2c2d;
}
.detail-history {
  font-size: 14px;
  color: #2152ab;
}
.detail-highlights {
  line-height: 16px;
  margin-top: 6px;
  font-size: 14px;
  margin-bottom: 8px;

  span {
    margin-right: 6px;
    background-color: #f2f7fe;
    color: #2152ab;
    padding: 4px 6px;
    margin-bottom: 4px;
    display: inline-block;
  }
}
.contact-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  .btn {
    width: 100%;
    background-color: #053091;
    border-color: #053091;
  }
}
@media (max-width: 767px) {
  .detail-cover {
    position: absolute;
  }
  .detail-desc {
    padding-left: 0;
  }
  .detail-name {
    padding-left: 100px;
    height: 110px;
  }
}
@media (min-width: 768px) {
  .detail-history {
  }
  .detail-cover {
    width: 128px;
    height: 168px;
  }
  .detail-price {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .detail-highlights {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .page-detail {
    max-width: 960px !important;
  }
  .contact-container {
    position: absolute;
    z-index: auto;
    right: 0;
    bottom: 0;
    left: auto;
    padding: 0;
    border-top: none;
    .btn {
      width: auto;
    }
  }
}
